aniso8601       
boto3           
botocore        
click           
Flask           
Flask-HTTPAuth  
Flask-RESTful   
itsdangerous    
Jinja2          
jmespath        
MarkupSafe      
pandas
pip             
pyarrow
python-dateutil 
python-dotenv   
pytz            
s3transfer      
setuptools      
six             
urllib3         
Werkzeug        
wheel           
